<h2>Properties</h2>
{% set properties = c | filterForProperties %}
{% if properties | length %}
  <table>
  <thead>
    <tr><th>Name</th><th>Description</th><th>Reflects</th><th>Type</th><th>Default</th></tr>
  </thead>
  <tbody>
  {% for m in properties %}
  <tr>
    <td class="property-name">{{m.name}}</td>
    <td>{{m.description | marked | safe }}</td>
    <td>{{'true' if m.reflects else ''}}</td>
    <td class="property-type">
      {{'<span class="readonly">READONLY</span>' | safe if m.readonly else ''}}
      {{m.type.text}}
    </td>
    <td class="property-default">{{m.default | d('', true) }}</td>
  </tr>
  {% endfor %}
  </tbody>
  </table>
{% else %}
  No properties.
{% endif %}
