:root {
  --re-primary-color: rgb(0 0 238);
  --re-success-color: rgb(0, 200, 0);
  --re-neutral-color: rgb(64 64 64);
  --re-warning-color: rgb(238 119 0);
  --re-danger-color: rgb(238 0 0);

  --color: white;
  --background-color: black;
  --border-color: rgb(from var(--color) R G B / 0.75);
}

.bic-vibrant {
  --color: rgb(0 91 172);
}

.bic-muted {
  --color: rgb(40 66 131);
}

.hb-pencil {
  --color: rgb(56 57 48);
}
