:root {
  color-scheme: light dark;

  /* These CSS variables apply to both colour schemes. */

  --primary-base-color: hsl(210.4 98% 39.4%);
  --success-base-color: hsl(142.1 76.2% 36.3%);
  --neutral-base-color: hsl(240 5.2% 53.9%);
  --warning-base-color: hsl(20.5 90.2% 48.2%);
  --danger-base-color: hsl(0 72.2% 50.6%);

  --color: var(--foreground-color);
  --border-color: rgb(from var(--foreground-color) R G B / 0.5);
  --border-width: 0.5rem;
}

.re-hidden {
  display: none !important;
}

.bic-vibrant {
  --foreground-color: rgb(0 91 172);
}

.bic-muted {
  --foreground-color: rgb(40 66 131);
}

.hb-pencil {
  --foreground-color: rgb(56 57 48);
}

/* The following colours are light-theme specific. */
:root {
  --primary-color: hsl(from var(--primary-base-color) h s 60%);
  --success-color: hsl(from var(--success-base-color) h s 70%);
  --neutral-color: hsl(from var(--neutral-base-color) h s 70%);
  --warning-color: hsl(from var(--warning-base-color) h s 70%);
  --danger-color:  hsl(from var(--danger-base-color) h s 70%);

  --foreground-color: black;
  --background-color: white;
}

/* The following colours are dark-theme specific. */
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: var(--primary-base-color);
    --success-color: var(--success-base-color);
    --neutral-color: var(--neutral-base-color);
    --warning-color: var(--warning-base-color);
    --danger-color: var(--danger-base-color);

    --foreground-color: rgb(216 216 216);
    --background-color: rgb(32 32 32);
    }
}
