:root {
  color-scheme: light dark;

  /* These CSS variables apply to both colour schemes. */

  --primary-color: rgb(0 0 238);
  --success-color: rgb(0, 200, 0);
  --neutral-color: rgb(64 64 64);
  --warning-color: rgb(238 119 0);
  --danger-color: rgb(238 0 0);

  --color: var(--foreground-color);
  --border-color: rgb(from var(--foreground-color) R G B / 0.5);
  --border-width: 0.5rem;
}

.re-hidden {
  display: none !important;
}

.bic-vibrant {
  --foreground: rgb(0 91 172);
}

.bic-muted {
  --foreground: rgb(40 66 131);
}

.hb-pencil {
  --foreground: rgb(56 57 48);
}

/* The following colours are light-theme specific. */
:root {
  --re-primary-color: rgb(0 0 238);
  --re-success-color: rgb(0, 200, 0);
  --re-neutral-color: rgb(64 64 64);
  --re-warning-color: rgb(238 119 0);
  --re-danger-color: rgb(238 0 0);

  --foreground-color: black;
  --background-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --re-primary-color: hsl(from rgb(0 0 238) h s 70%);
    --re-success-color: hsl(from rgb(0, 200, 0) h s 70%);
    --re-neutral-color: hsl(from rgb(64 64 64) h s 70%);
    --re-warning-color: hsl(from rgb(238 119 0) h s 70%);
    --re-danger-color: hsl(from rgb(238 0 0) h s 70%);

    --foreground-color: rgb(216 216 216);
    --background-color: rgb(32 32 32);
    }
}
