:root,
:host,
html,
body {
  --color: black;
  --background-color: white;
  --border-color: rgb(from var(--color) R G B / 0.75);
}

.bic-vibrant {
  --color: rgb(0 91 172);
}

.bic-muted {
  --color: rgb(40 66 131);
}

.hb-pencil {
  --color: rgb(56 57 48);
}
