---
pagination:
  data: components
  size: 1
  alias: c
permalink: "component/{{ c.tagName | slugify }}/"
---
{% extends "./internal/base.njk" %}

{% block style %}
.classnametitle {
  opacity: 0.4;
  font-size: 0.8em;
}
{% endblock %}

{% block main %}
<h1>{{c.tagName | replace('re-', '') | replace('-', ' ') | title}} <span class="classnametitle">{{c.tagName}}</span></h1>
<h2>Slots</h2>
  <table>
    <tr><th>Name</th><th>Description</th></tr>
    {% for slot in c.slots %}
    <tr><td>{{slot.name | d('[default]', '[default]')}}</td><td>{{slot.description}}</td></tr>
    {% endfor %}
  </table>
<h2>Properties</h2>
<h2>Events</h2>
<h2>Methods</h2>
<h2>Parts</h2>
{% endblock %}
