{% extends "./internal/base.njk" %}

{% block style %}
main img {
  width: 400px;
  float:right;
}
pre {
  display: flow-root;
  overflow-x: auto;
  padding: 1rem;
  border-radius: 0.5rem;
}
{% endblock %}

{% block main %}

<h1>Rough Elements</h1>

<img class="logo" src="/img/rough-elements.svg"/>

<p>A robust set of common UI elements with a hand-drawn, sketchy look.</p>

<p>
  The elements are drawn with enough randomness that no two renderings will
  be exactly the same, just like two separate hand-drawn shapes.  They are
  heavily inspired by <a href="https://wiredjs.com/">Wired Elements</a> and
  <a href="https://shoelace.style/">Shoelace</a>.
</p>

<ul>
  <li>Works with all frameworks</li>
  <li>Works with CDNs</li>
  <li>Fully customizable with CSS</li>
  <li>Supports dark theme</li>
  <li>Open source</li>
</ul>

<h1>Quick Start</h1>
Add the following to your webpage:

<pre><code class="language-html">&lt;link rel="stylesheet" href="https://esm.sh/jsr/@rough/rough-elements/public/themes/default.css" /&gt;
&lt;script type="module" src="https://esm.sh/jsr/@rough/rough-elements"&gt;&lt;/script&gt;
</code></pre>

Now use the elements in your page:

<pre><code class="language-html">&lt;re-button&gt;Click here&lt;/re-button&gt;
&lt;re-button variant="text"&gt;
  &lt;re-icon name="arrow-back" slot="prefix"&gt;&lt;/re-icon&gt;Back
&lt;/re-button&gt;

&lt;re-select value="item1"&gt;
  &lt;re-item id="item0"&gt;
    This is a long item for test
  &lt;/re-item&gt;
  &lt;re-item id="item1"&gt;
    &lt;re-icon slot="prefix" name="check"&gt;&lt;/re-icon&gt;
    Item 1
  &lt;/re-item&gt;
  &lt;re-item id="item2" disabled&gt;
    Item 2
    &lt;re-icon slot="suffix" name="close"&gt;&lt;/re-icon&gt;
  &lt;/re-item&gt;
  &lt;re-divider&gt;&lt;/re-divider&gt;
  &lt;re-item id="item3"&gt;Item 3&lt;/re-item&gt;
&lt;/re-select&gt;
</code></pre>

<h1>NPM Installation</h1>
<p>Add Rough Elements to your project with the following command.</p>

<p><code>npx jsr add @rough/rough-elements</code></p>

<p>
Load the default style sheet found at
<code>@rough/rough-elements/public/themes/default.css</code> in your web page
before loading the rough elements.  This file should be copied to a location
that will be accessible from the web server at run time.  If you are using
the `vite` build tool, use the following shortcut to handle this automatcally:
</p>
<pre><code class="language-html">&lt;link rel="stylesheet" href="/@fs/node_modules/@rough/rough-elements/public/themes/default.css" /&gt;
</code></pre>

<p>
See your build tool documentation for ways to do the same if you don't use vite.
</p>

<p>
  Import the individual components in your javascript files as needed.  An
  individual component can be imported from a module whose name is
  <code>@rough/rough-elements/XXX</code>, where XXX is the component's tag name minus the
  <code>re-</code> prefix.  For example, import <code>&lt;re-button&gt;</code> from the
  module <code>@rough/rough-elements/button</code>.
</p>
<p>
  Alternatively, import all the rough elements at once with:
</p>
<pre><code>import '@rough/rough-elements'
</code></pre>

<h1>License</h1>
Rough Elements are available under the <a href="https://opensource.org/license/mit">MIT license</a>.

<h1>Attribution</h1>
<ul>
<li>Rough rendering powered by <a href="https://jsr.io/@rough/roughjs">@rough/roughjs</a></li>
<li>Components built with <a href="https://lit.dev/">Lit</a></li>
<li>Component metadata generated by the <a href="https://custom-elements-manifest.open-wc.org/">Custom Elements Manifest Analyzer</a></li>
<li>Documentation powered by <a href="https://www.11ty.dev/">11ty</a></li>
<li>CDN services provided by <a href="https://esm.sh/">esm.sh</a></li>
<li>Web platform expertise provided by a retired chromium committer (<a href="https://chromium-review.googlesource.com/q/owner:rogerta@chromium.org">me</a>!)</li>
</ul>

{% endblock %}
