<!doctype html>
<html>
<head>
<title>Rough Elements</title>
</head>
<body>
{% for clazz in components %}
  <h1><a href="component/{{clazz.tagName}}">{{clazz.tagName}}</a></h1>
  <p>{{clazz.description | safe}}</p>
{% endfor %}
</body>
</html>

